/* PEN STYLES ========== */
a,
.side_menu {
    -webkit-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
}

/* MENU CONTAINER ----- */
    .side_menu {
        /* height:100vh;*/
        position: fixed;
        background:  rgb(232,47,255,0.5);
        height: 100vh;
        right: -400px;
        /*margin-top: 0px;*/
        top: 0;
        width: 400px;

    }
    .side_menu .container {
        margin-top: 0px;
    }
    .side_menu .scroller {
        height: 100px;
        overflow-y: scroll;
        scrollbar-color: #058 #048;
        scrollbar-width: thin;
    }

/* HAMBURGER STYLES ----- */
    .burger_box {
        display: block;
        float: left;
        margin-left: -45px;
    }
    .burger_box a.menu-icon {
        display: inline-block;
        float: none;
        height: 25px;
        padding: 10px;
        opacity: .5;
        width: 25px;
        z-index: 100;
    }
    .burger_box a.menu-icon:hover,
    .burger_box a.menu-icon.opened {
        opacity: 1;
    }
    .burger_box a.menu-icon.opened {
        background: rgba(0,20,60,.2);
    }
    .burger_box .menu-icon_box {
        display: inline-block;
        height: 25px;
        position: relative;
        text-align: left;
        width: 25px;
    }
    .burger_box .menu-icon_line {
        background: rgb(232,47,255,0.5);;
        border-radius: 2px;
        display: inline-block;
        height: 3px;
        position: absolute;
        width: 100%;
    }
    .burger_box .menu-icon_line--1 {
        top: 2px;
    }
    .burger_box .menu-icon_line--2 {
        top: 10px;
    }
    .burger_box .menu-icon_line--3 {
        top: 18px;
    }
    .burger_box .menu-icon_line--1 {
        transition: top 200ms 250ms, transform 200ms;
        -webkit-transition: top 200ms 250ms, -webkit-transform 200ms;
    }
    .burger_box .menu-icon_line--2 {
        transition: opacity 0ms 300ms;
        -webkit-transition: opacity 0ms 300ms;
    }
    .burger_box .menu-icon_line--3 {
        transition: top 100ms 300ms, transform 200ms;
        -webkit-transition: top 100ms 300ms, -webkit-transform 200ms;
    }
    .burger_box .menu-icon.opened .menu-icon_box {
        transform: scale3d(0.9, 0.9, 0.9);
        -webkit-transform: scale3d(0.9, 0.9, 0.9);
    }
    .burger_box .menu-icon.opened .menu-icon_line {
        top: 10px;
    }
    .burger_box .menu-icon.opened .menu-icon_line--1 {
        transform: rotate3d(0, 0, 1, 45deg);
        -webkit-transform: rotate3d(0, 0, 1, 45deg);
        transition: top 100ms, transform 200ms 250ms;
        -webkit-transition: top 100ms, -webkit-transform 200ms 250ms;
    }
    .burger_box .menu-icon.opened .menu-icon_line--2 {
        opacity: 0;
        transition: opacity 200ms;
        -webkit-transition: opacity 200ms;
    }
    .burger_box .menu-icon.opened .menu-icon_line--3 {
        transform: rotate3d(0, 0, 1, -45deg);
        -webkit-transform: rotate3d(0, 0, 1, -45deg);
        transition: top 200ms, transform 200ms 250ms;
        -webkit-transition: top 200ms, -webkit-transform 200ms 250ms;
    }
